<% provide(:title, @post.id) %>
<p id="notice"><%= notice %></p>

<div class="wod-show-container">
  <div class="wod-show-container-inner">
    <div class="wod-no-good">
      <h2><%= time_tag(@post.created_at.to_date) %></h2>
      <h5>
        <%= @post.title %>
      </h5>

      <p>
        <%= @post.content %>
      </p>

      <p>
        <b>Trainer Notes:</b><br>
        <%= @post.wod %>
      </p>
 
      <%= link_to 'Back', posts_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>
